@using QuestinaryWebApp.Views.Shared.Components.FormQuestionnaire
@using QuestinaryWebApp.Views.Shared.Components.Question
@model FormModalViewModel

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Просмотр пройденного опроса</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

    <div class="text-center mt-3">
        <h5>@Model.QuestionnaireName</h5>
        <p>@Model.QuestionnaireDescription</p>
    </div>

    <vc:form-questionnaire model="@(new FormQuestionnaireViewModel {Person = Model.Person})"/>

    <div id="questionnaire">
        <div id="Answers" class="questions mt-5">

            @foreach (var formAnswerGroup in Model.FormAnswers.GroupBy(x => x.Question.Id))
            {
                var questionModel = new QuestionViewModel
                {
                    Question = formAnswerGroup.First().Question,
                    SelectedAnswers = formAnswerGroup.ToArray()
                };
                <vc:question model="@questionModel"/>
            }
        </div>
    </div>
</div>